html, body{
  height: 100%;
}

.mapContainer{
  height: 94%;
}

.map{
  height:100%;
}

#dataTitle{
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e6d2d2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#chart{
  align-content : center;
}

.legend {
  color: #555;
  padding: 6px 8px;
  font: 30px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;

}

.legend li {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}